<body ng-app="starter">
<ion-view view-title="Dashboard">
  <ion-content class="padding">
  	<dashboardcss class="dashstyle">
    KSU Madani Apps,<br>



    ALIANSI KOPERASI INTERNASIONAL (INTERNATIONAL COOPERATIVE ALLIANCE - ICA)
<br><br>
	Pernyataan Jatidiri Koperasi
<br><br>
	Definisi<br>
	Koperasi adalah asosiasi otonom dari orang-orang yang bergabung secara sukarela untuk memenuhi kebutuhan ekonomi, sosial, budaya dan aspirasi mereka melalui lembaga yang mereka miliki dan dikontrol bersama.
<br><br>
	Prinsip-prinsip<br>
	Prinsip-prinsip Koperasi merupakan panduan bagi setiap Koperasi untuk mengembangkan nilai-nilai ke dalam praktek.
<br><br>
	Keanggotaan yang sukarela dan terbuka<br>
	Pengawasan yang demokratis oleh anggota<br>
	Partisipasi ekonomi anggota<br>
	Otonomi dan keswadayaan<br>
	Pendidikan, pelatihan dan informasi<br>
	Kerjasama diantara Koperasi<br>
	Kepedulian terhadap komunitas<br>
	PRINSIP-PRINSIP KOPERASI KREDIT SECARA INTERNASIONAL<br>
<br><br>
	Struktur Demokratis
<br><br>
	Keanggotaan yang terbuka dan sukarela<br>
	Pengawasan yang demokratis<br>
	Tidak diskriminatif<br>
<br><br>
	Pelayanan kepada anggota<br>
<br><br>
	Pelayanan kepada anggota<br>
	Distribusi pelayanan kepada anggota<br>
	Membangun stabilitas keuangan.<br>
<br><br>
	Tujuan Sosial<br>
<br><br>
	Pendidikan yang terus menerus
	Kerjasama antar Koperasi
	Tanggungjawab sosial
<br><br><br><br><br>

	Disepakati oleh Anggota WOCCU pada tanggal 24 Agustus, 1984.


<br><br>
    <a href="http://koperasimadani.co.id" onclick="cordova.InAppBrowser.open('http://koperasimadani.co.id','_self','location=yes');return false;">Madani Website</a><br>
    <a href="http:\\kspmadani.kopdit.id">Sicundo Madani</a>

 <button ion-button block clear (click)="openWebpage('http:\\koperasimadani.co.id')">
            Cobain InAppBrowser
        </button>

    <button class="button button-full button-assertive" ng-click="openKoperasiMadaniWeb()">
            Madani Website
        </button>
        <button class="button button-full button-assertive" ng-click="openKSP()">
            Sicundo Madani
        </button>

  </dashboardcss>
  </ion-content>
</ion-view>
</body>