<ion-view view-title="Document(s)">
  <ion-content>
    <ion-list>      

      <ion-item href="../templates/fullPoljak.html" class="item-remove-animate item-avatar item-icon-right item-text-wrap">
        <img src="img/book.png">
        <h2>RAT & Poljak</h2>
        <p></p> <!-- Descripion -->
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right item-text-wrap" >
        <img src="img/visi_misi.png">
        <h2>Coming Soon</h2>
        <p>Sorry, this feature isn't available right now</p>  
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
