<ion-view view-title="FAQ">
  <ion-content>
    <ion-list>

      <ion-item href="../templates/faq/menjadiAnggota.html" class="item-remove-animate item-avatar item-icon-right item-text-wrap">
        <img src="img/handShake.png">
        <h2>Menjadi Anggota</h2>
        <p>Prosedur awal menjadi anggota Koperasi Madani</p>  
      </ion-item>


      <ion-item href="../templates/faq/tabungan.html" class="item-remove-animate item-avatar item-icon-right item-text-wrap" >
        <img src="img/deposit.png">
        <h2>Tabungan / Simpanan</h2>
        <p>Pahami keuangan anda<br>Rencanakan masa depan</p>  
      </ion-item>

      <ion-item href="../templates/faq/pinjaman.html" class="item-remove-animate item-avatar item-icon-right item-text-wrap" >
        <img src="img/loan.png">
        <h2>Pinjaman</h2>
        <p>Pahami kewajiban anda<br>Penuhi kebutuhan anda</p>  
      </ion-item>


    </ion-list>
  </ion-content>
</ion-view>
