<ion-view view-title="Account">
  <ion-content>
  	<br>
  	<img src="img/logo.png" height="10%" width="100%">
    <br><br>
    <p>Welcome to Madani App</p>
    <br>
    <ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-right item-text-wrap">
        <img src="img/homeico.png">
        <h2>Visit Us</h2>
        <p style="font-size: 0.8em">Jl. Kepondang 2 No.12A,Pondok Sejahtera Tanggerang</p>  
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right item-text-wrap" >
        <img src="img/callico.png">
        <h2>Call Us</h2>
        <p>021-59314662</p>  
      </ion-item>

    <a href="mailto:info@koperasimadani.co.id">
      <ion-item class="item-remove-animate item-avatar item-icon-right item-text-wrap">
        <img src="img/mailico.png">
        <h2>E-mail</h2>
        <p>info@koperasimadani.co.id</p>
      </ion-item>
  	</a>

  </ion-list>

<br><br>
    
    <p style="font-size: 0.8em">Current Version 0.1.7</p>
    <center>Developed by David Triady</center>
  </ion-content>
</ion-view>
