<ion-view view-title="Visi Misi KSU Madani">
  <ion-content class="padding">
    <center>VISI</center>
<p>Menjadi Koperasi primer yang sinergis, handal dan professional</p>
<br>
<center>MISI</center>
<p>Memperkokoh Organisasi KSU MADANI melalui pendidikan, pembinaan, kaderisasi,
standarisasi manajemen, dukungan likuiditas, dan database terpadu</p>
<br>
<center>NILAI-NILAI</center>
a) Jatidiri Kopdit (Cooperative Identity) :
<ul>
<li>Keanggotaan Sukarela & Terbuka</li>
<li>Pengendalian oleh Anggota secara Demokratis</li>
<li>Partisipasi Ekonomi Anggota</li>
<li>Otonomi & Kebebasan</li>
<li>Pendidikan, Pelatihan, & Informasi</li>
<li>Kerjasama di antara Koperasi</li>
<li>Kepedulian terhadap Masyarakat</li>
</ul>
b) Kejujuran<br>
c) Profesional (Professional)
<br><br>
<center>STRATEGI</center>
<ol>
<li>Menyiapkan SDM ( Pengurus dan Pengawas ) untuk mengikuti pelatihan Sistem Informasi</li>
<li>Keuangan berbasis website</li>
<li>Menerapkan sistem informasi keuangan yang cepat dan akurat berbasis website</li>
<li>Menerapkan SOP Pinjaman yang akan direvisi</li>
<li>Melakukan kunjungan rutin ke anggota yang lalai dalam melaksanakan kewajibannya</li>
<li>Menyiapkan Silabus pendidikan dan pelatihan</li>
<li>Mengembangkan komunikasi yang intensif dengan ketua kelompok ataupun dengan anggota</li>
<li>Menyusun dan Menerapkan SOP Manajemen koperasi primer Madani, menerapkan
mekanisme pengawasan terpadu</li>
<li>Meningkatkan kesadaran, disiplin anggota akan hak dan kewajibannya dalam berkoperasi</li>
</ol>
  </ion-content>
</ion-view>
