<ion-view>
  <link href="../../../css/faqCSS.css" rel="stylesheet">

<ion-nav-title class = "bigger">
    <p><b><i>Menjadi Anggota Koperasi Madani</i></b></p>
  </ion-nav-title>

    <ion-content class="bigger">
      <div class="card">
        <div class="item item-avatar">
          <img src="../../img/loan.png">
          <b>Prosedur Pengajuan Pinjaman</b>
        </div>

        <img src="\img\pinjaman.jpg" style="width:100%; height:50%;" >
        <div class="item item-body">
          
            <ul>
  <li>Pinjaman Usaha Produktif</li>
</ul>

<ol>
  <li>Memiliki Usaha yang akan dijalani dan atau telah dijalankan (dibuktikan dengan survey lapangan).</li>
  <li>Bagi calon peminjam (anggota) yang baru akan memulai kewirausahaannya, akan dipantau perkembangan usahnya secara berkala dari KSU Madani.</li>
  <li>Bagi calon peminjam (anggota) yang baru akan memulai kewirausahaannya, dengan pengajuan pinjaman tergolong besar, maka pengurus berhak untuk menentukan pencairan pinjaman secara bertahap dengan mempertimbangkan Pola Kebijakan</li>
</ol>

<p>&nbsp;</p>

<ul>
  <li>Peminjaman Kendaraan</li>
</ul>

<ol>
  <li>Diwajibkan untuk mengikuti asuransi kehilangan.</li>
  <li>Untuk kendaraan roda dua dengan nominal pinjaman sampai dengan Rp. 20.000.000,- diharuskan memiliki tabungan sibuhar sebesar Rp. 4.000.000,-</li>
  <li>Dan untuk kendaraan roda dua dengan nominal pinjaman diatas Rp. 20.000.000,- diharuskan memiliki tabungan sibuhar sebesar Rp. 7.500.000,-</li>
  <li>Untuk kendaraan roda empat, &nbsp;nominal tabungan SIBUHAR mencapai 20% dari harga kendaraan.</li>
</ol>

<p>&nbsp;</p>

<ul>
  <li>Peminjaman Kepemilikan Rumah</li>
</ul>

<ol>
  <li>Masa Keanggotaan minimal 2 tahun.</li>
  <li>Memiliki saldo tabungan SiBUHAR sebesar 30 Juta untuk peminjaman kepemilikan rumah sampai dengan besaran anggaran. 12.24 %</li>
  <li>Memiliki saldo tabungan SiBUHAR 30 % dari harga rumah untuk peminjaman kepemilikan rumah yang melebihi jumlah anggaran. Kelebihan nilai pinjamanan diatas anggaran dikenakan jasa sebesar. 13.5 %</li>
  <li>Anggota yang melakukan peminjaman kepemilikan rumah haruslah belum memiliki rumah. Apabila dikemudian hari didapati anggota telah memiliki rumah baik atas nama sendiri atau pun istri, maka dinyatakan telah memiliki rumah.</li>
  <li>Memiliki kemampuan yang cukup dalam pengembalian peminjaman kepemilikan rumah.</li>
  <li>KPR Mengalokasikan 2% untuk kepengurusan notaris, dan 1% untuk simpanan kapitalisasi</li>
</ol>

<p>&nbsp;</p>

<ul>
  <li>Pinjaman Pendidikan</li>
</ul>

<ol>
  <li>Melampirkan bukti kuwitansi pembayaran dari pihak sekolah sebesar 93% dari nilai pinjaman yang disetujui</li>
  <li>Pinjaman Pendidikan diperuntukan untuk membiayai diri sindiri ataupun anak.</li>
  <li>Khusus untuk pendidikan anak. Orang tua anggota harus melampirkan buku tabungan koperasi atas nama anak yang akan ditanggungkan dalam peminjaman pendidikan.</li>
  <li>Keanggotaan anak minimal 3 bulan atau lebih.</li>
</ol>

<p>&nbsp;</p>

<ul>
  <li>Pinjaman Kapitalisasi</li>
</ul>

<ol>
  <li>Peminjaman tidak melebihi saldo tabungan</li>
  <li>Saldo tabungan keluarga termasuk apabila tidak terkait dengan peminjaman yang lain (dijaminkan).</li>
</ol>

<p>&nbsp;</p>

<ul>
  <li>Pinjaman Darurat</li>
</ul>

<ol>
  <li>Pinjaman diberikan sebesar tabungan.</li>
  <li>Pinjaman darurat dapat langsung diperoses khusus untuk kasus gawat darurat.</li>
</ol>


        </div>
      </div>
      
    </ion-content>

</ion-view>
