<ion-view>
  <link href="../../../css/faqCSS.css" rel="stylesheet">

<ion-nav-title class = "bigger">
    <p><b><i>Menjadi Anggota Koperasi Madani</i></b></p>
  </ion-nav-title>

    <ion-content class="bigger">
      <div class="card">
        <div class="item item-avatar">
          <img src="../../img/deposit.png">
          <b>Tabungan Anggoa</b>
        </div>

        <img src="\img\tabungan.jpg" style="width:100%; height:50%;" >
        <div class="item item-body">
          
           <ol>
  <li>Simpanan Saham adalah simpanan yang akan mendapatkan balas jasa (deviden) pada akhir tahun&nbsp; yang besarnya dihitung berdasarkan jumlah bulan saham atau prosentase yang ditetapkan setiap tahun buku, simpanan saham terdiri dari :
  <ol style="list-style-type:lower-alpha">
    <li>Simpanan Pokok Rp.300.000,- ( dibayar pada saat masuk anggota )</li>
    <li>Simpanan Wajib Rp. 70.000,- / bulan</li>
    <li>Simpanan Wajib Kapitalisasi 3% dari pinjaman yang disetujui .</li>
  </ol>
  </li>
  <li>Simpanan Non saham adalah simpanan yang mendapatkan jasa berupa bunga tabungan. Simpanan Non Saham terdiri atas&nbsp; Simpanan Bunga Harian ( SIBUHAR ), besarnya bunga ditetapkan dalam RAT
  <ol>
    <li>Setiap anggota wajib membuka Simpanan Bunga Harian</li>
    <li>Saldo minimum SIBUHAR Rp 50.000.-</li>
    <li>Sibuhar dibawah saldo minimum tidak mendapat jasa bunga</li>
    <li>Penarikan SIBUHAR dari Rp. 50.000.000,- s/d Rp. 100.000.000,- memberitahukan 3 hari kerja sebelumnya.</li>
    <li>Penarikan SIBUHAR diatas Rp. 100.000.000,-&nbsp; memberitahukan 5 hari kerja sebelumnya.</li>
    <li>Penarikan tanpa melakukan konfirmasi akan dikenakan administrasi sebesar Rp. 25.000,- untuk point 4 dan administrasi sebesar Rp. 50.000,- untuk point&nbsp; 5.</li>
    <li>Simpanan Bunga Harian yang di jaminkan untuk memperoleh pinjaman, maka SIBUHAR tidak diperbolehkan untuk di tarik tunai, terkecuali untuk membayar angsuran dan bunga pinjaman.</li>
  </ol>
  </li>
  <li>Simpanan Khusus Berjangka ( SIKHUJANG),
  <ol>
    <li>Jangka waktu Simpanan Khusus Berjangka adalah: 6 bulan dan 12 bulan</li>
    <li>Tanda bukti kepemilikan Sikujang berbentuk: Sertifikat</li>
    <li>Bunga SIKHUJANG dibukukan ke rekening SIBUHAR</li>
    <li>Bila mana SIKHUJANG ditarik sebelum jatuh tempoh: Permohonan pencairan SIKHUJANG wajib ditandatangani oleh anggota, serta dikenakan pinalti sebesar 2% dari jumlah nominal Sertifikat SIKHUJANG</li>
    <li>Saat pencairan SIKHUJANG agar Sertifikat SIKHUJANG dilampirkan dan melakukan konfrimasi pencairan terhitung dari 30 hari sebelumnya atau selambat-lambatnya 5 hari kerja sebelum jatuh tempo.</li>
    <li>Apabila tidak ada pemberitahuan seperti yang tercantum pada point b.5 maka secara otomatis SIKHUJANG diperpanjang.</li>
  </ol>
  </li>
  <li>Simpanan Masa Depan (SiMAPAN)
  <ol>
    <li>Jangka waktu Simpanan Masa Depan adalah : 2 tahun sampai dengan 5 tahun</li>
    <li>Saldo setoran awal minimal Rp. 1.000.000,- dan setoran maksimum sebesar Rp. 5.000.000,-</li>
    <li>Setoran rutin perbulan sebesar Rp. 150.000,-</li>
    <li>Tanda bukti kepemilikan berupa buku tabungan</li>
    <li>Bunga SiMAPAN bersifat kumulatif</li>
    <li>Bila mana SiMAPAN ditarik sebelum jatuh tempo: Pemohonan pencairan SiMAPAN wajib ditandatangani oleh anggota, serta dikenakan pinalti sebesar 5% dari jumlah akhir saldo SiMAPAN, pengeculian untuk anggota yang meninggal dunia.</li>
    <li>SiMAPAN tidak bersifat <em>Automatic Roll Over (ARO).</em></li>
  </ol>
  </li>
</ol>


        </div>
      </div>
      
    </ion-content>

</ion-view>
